
body {
  background-color: #EEEEEE;
}

/* Header */

.container-fluid {
  background-color: #454545;
}
.navbar-default .navbar-toggle {
  border-style: none;
}
a.navbar-brand{
  padding: 4px 15px;
  margin: 4px 0px;
}
div#bs-example-navbar-collapse-1 {
    margin: 4px 0px; 
}
.navbar-default .navbar-nav>li>a {
  color: #F3F3F3;
}
.logo{
  padding: 1px
}

#logo-banlinea-desktop{
  display: inline-block;
}

#logo-banlinea-mobile{
  display: none;
}

a{
      color: #337ab7;
    text-decoration: none;
    display: block;
    text-align: center;
}

nav.navbar.navbar-default {
    margin-bottom: 0;
}

/*  Menu */

    
    .small-select {
        width: 30% !important;
    }
    
    .form-box {
        max-width: 990px;
        background-color: unset;
        margin: 0 auto;
        padding: 1em;
        color: gray;
    }
    
    .form-box .col-md-12 {
        margin: 0 0 1em 0;
        font-weight: 700;
    }
    
    .form-box .col-md-12 div {
        height: 100%;
    }
    
    .form-box .col-md-12 select {
        height: 40px;
    }
    
    .form-box .col-md-12 select,
    .form-box .col-md-12 input {
        width: 100%;
        border-radius: 0;
        font-weight: 100;
        border: 1px solid #d1d1d1;
        padding: .7em;
    }
    
    .custom-form-controls i {
        transition: .3s;
    }
    
    .custom-form-controls i:hover {
        color: red;
    }
    
    .custom-form-controls i:first-child {
        font-size: 5em;
        color: blue;
        position: absolute;
        bottom: 50%;
        left: 0;
        margin-left: .3em;
        z-index: 2;
    }
    
    .custom-form-controls i:last-child {
        font-size: 5em;
        color: blue;
        position: absolute;
        bottom: 50%;
        right: 0;
        margin-right: .3em;
        z-index: 2;
    }

    .arrow-buttons{
      display: block;
      width: 100%;
      padding: 15em 17%;
      height: 300px;
      margin: auto;
      position: absolute;
    }
    .left-button{
      border-radius: 5px;
      display: inline-block;
      font-size: 1.5em;
      float: left;
      text-decoration: none;
    }

    .right-button{
      border-radius: 5px;
      display: inline-block;
      float: right;
      font-size: 1.5em;
      
    }

    .left-button:hover, .right-button:hover{
      background-color: #4682B4;
      transition: 0.6s ease;
      text-decoration: none;
    }
    
    @media screen and (min-width:769px) {
        .small-select {
            width: 100% !important;
        }
        
.tittles {
  background-color: white;
  margin: auto;
  border-style: solid;
  border-width: 0px 0px 3px 0px;
  border-color: #36AADD;
  padding: 1em 4em;
}

    }
    
    @media screen and (max-width:420px) {

      #logo-banlinea-desktop{
        display: none;
      }

      #logo-banlinea-mobile{
        display: inline-block;
      }
      .arrow-buttons{
        display: none;
      }
      .decoration{
        display: none !important;
      }
        .title {
            display: none !important;
        }
        .tittles{
            background-color: white;
            margin: auto;
            border-style: solid;
            border-width: 0px 0px 3px 0px;
            border-color: #36AADD;
            padding: 1em 4em;
        }
        .form-box div {
            padding: 0 !important;
        }
        .small-select {
            width: 100% !important;
        }
        .form-content{
          background-color: unset;
          width: 100%;
        }
    }
    @media (min-width: 340px ) and (max-width: 767px){


      .form-content{
          background-color: unset;
          width: 100%;
        }
      } 




/* Queries */


.decoration {
	position: absolute;
  width: 100%;
  height: 18em;
  margin-top: 7em;
  background-color: #36AADD;
  z-index: -1;
}

.form-content {
	background-color: white;
	margin: auto;
    width: 68%;
    box-shadow: 0 0 20px rgba(184, 184, 184, 0.35);
    padding: 1em 4em;
}
h1{
	color: #36AADD;
    font-family: Verdana;
    text-align: center;
    font-size: 8vw;
    margin: 0;
    padding-top: 1em;
}
h2{
	color: #A9A9A9;
    text-align: center;
    font-size: 4vw;
}
label {
	display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    color: #A9A9A9;
    font-weight: 100;
    font-size: 1.4vw;
}
.menu{
    padding: .4em;
    
}
.form-control {
	border-radius: 0px
}
.submit-button{
	margin: .5em .1em;
    font-family: Verdana;
    font-size: 1.5em;
    background-color: #BBD550;
    color: white;
    border-style: solid;
    border-width: 0 0 .1em 0;
    border-color: #9FBC2D;
    width: 99%;
    }

.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 1em 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #36AADD;
}


@media (min-width: 721px) {


  nav.navbar.navbar-default {
    margin: 0em 0em 4em 0em;
  }
  .tittles{
    margin: auto;
    border-width: 0px;
    padding: 1em 4em;
  }

  h1 {
    font-size: 3vw;
    padding: 0;
  }
  h2{
    font-size: 2vw;
  }
  .main-container{
    background-color: white;
    margin: auto;
    width: 68%;
    box-shadow: 0 0 20px rgba(184, 184, 184, 0.35);
    padding: 1em 4em;
  }
}

@media (min-width: 421px) and (max-width: 720px){
  .arrow-buttons{
      padding: 15em 11em;
  }
  nav.navbar.navbar-default {
    margin: 0em 0em 4em 0em;
  }
  h1 {
    font-size: 3vw;
  }
  h2{
    font-size: 2vw;
  }
  .main-container{
    background-color: white;
    margin: auto;
    width: 68%;
    box-shadow: 0 0 20px rgba(184, 184, 184, 0.35);
    padding: 1em 4em;
  }
}